.main-btn {
  background-color: #4F49F5;
  border: 1px solid #4B50EC;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 6px;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12px 5px 12px 5px;
}
.main-btn:focus {
  outline: none;
  color: #FFFFFF;
}
.main-btn:hover {
  background-color: #36c756;
  color: #FFFFFF;
  transition: background 0.5s linear;
  border-color: #36c756;
}
.h40 {
  padding: 9px 0;
}
.sign-in .main-btn {
  background-color: #FFFFFF;
  color: #4F49F5;
  width: 92px;
  text-decoration: none;
}
.sign-in .main-btn:hover {
  background-color: #4B50EC;
  border-color: #4B50EC;
  color: #FFFFFF;
  transition: background 0.5s linear;
}
.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #E1E3EE;
  border-color: #E1E3EE;
  pointer-events: all !important;
}
.disabled:hover {
  background-color: #E1E3EE;
  border-color: #E1E3EE;
}
.error {
  border: 1px solid #e27c7c;
  border-radius: 6px;
}
.checkbox-style {
  min-width: 20px! important;
  max-width: 20px! important;
  height: 20px! important;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
}
.checkbox-style input[type=checkbox] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.checkbox-style input[type=checkbox]:checked + label {
  border: 1px solid #4B50EC;
}
.checkbox-style input[type=checkbox]:checked + label::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 4px;
  width: 12px;
  height: 6px;
  border: solid #4B50EC;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
}
.checkbox-style label {
  content: "";
  display: block !important;
  width: 100%;
  height: 100%;
  border: 1px solid #D4D9EE;
  border-radius: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
input {
  width: 100%;
  padding: 12px 20px ;
  cursor: pointer;
  border: 1px solid #D4D9EE;
  border-radius: 6px;
}
input:focus {
  outline: none;
  background-color: #F9FBFF;
  border: 1px solid #4B50EC;
}
input:hover {
  background-color: #F9FBFF;
  border: 1px solid #4B50EC;
}
.error input {
  border: none;
}
.error select {
  border: none;
}
select {
  width: 100%;
  height: 50px;
  border: 1px solid #D4D9EE;
  border-radius: 6px;
  color: #77808D;
  padding: 5px;
  cursor: pointer;
}
select:focus {
  outline: none;
}
select:hover {
  background-color: #f9fbff;
}
.text-lg {
  font-size: 30px;
}
.font-big {
  font-size: 20px;
}
.text-md {
  font-size: 16px;
}
.text-xs {
  font-size: 12px;
}
@font-face {
  font-family: Helvetica Neue;
  src: url(font/HelveticaNeueCyr-Bold.woff);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Helvetica Neue;
  src: url(font/HelveticaNeueCyr-Medium.woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Helvetica Neue;
  src: url(font/HelveticaNeueCyr-Light.woff);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Helvetica Neue;
  src: url(font/HelveticaNeueCyr-Roman.woff2);
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
.lang-menu {
  width: 100px;
  text-align: right;
  font-weight: bold;
  margin-top: 25px;
  position: relative;
}
.lang-menu .selected-lang {
  display: flex;
  justify-content: space-between;
  line-height: 2;
  cursor: pointer;
}
.lang-menu .selected-lang::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(https://www.countryflags.io/us/flat/32.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.lang-menu ul {
  margin: 0;
  padding: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  position: absolute;
  top: 45px;
  right: 0px;
  width: 125px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.lang-menu ul li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.lang-menu ul li a {
  text-decoration: none;
  width: 125px;
  padding: 5px 10px;
  display: block;
}
.lang-menu ul li a::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}
.lang-menu ul li .de:before {
  background-image: url(https://www.countryflags.io/de/flat/32.png);
}
.lang-menu ul li .en:before {
  background-image: url(https://www.countryflags.io/us/flat/32.png);
}
.lang-menu ul li .fr:before {
  background-image: url(https://www.countryflags.io/fr/flat/32.png);
}
.lang-menu ul li .ar:before {
  background-image: url(https://www.countryflags.io/ae/flat/32.png);
}
.lang-menu:hover ul {
  display: block;
}
body {
  font-family: 'Helvetica Neue', 'sans-serif';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  margin: 0;
  padding: 0;
  color: #0E0E0E;
  background-color: #F7F7F7;
}
header {
  padding: 10px 0;
  background-color: #FFFFFF;
}
header .header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header-wrapper .header-logo {
  padding: 7px 0;
}
header .header-wrapper .header-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
header .header-wrapper .header-logo a img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
header .header-wrapper .header-logo a .logo-text {
  max-width: 200px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
header .header-wrapper .main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .header-wrapper .main-header .busket {
  margin-right: 35px;
  width: 29px;
  height: 24px;
  position: relative;
}
header .header-wrapper .main-header .busket img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
header .header-wrapper .main-header .busket .number {
  position: absolute;
  top: 0;
  right: -3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #4F49F5;
  color: #FFFFFF;
  font-size: 7px;
  font-weight: bold;
  text-align: center;
  padding-top: 1px;
}
header .header-wrapper .main-header .busket .number:hover {
  background-color: #F7F7F7;
  color: #0E0E0E;
  border: 1px solid #77808D;
  padding-top: 0;
}
header .header-wrapper .main-header .dropdown .dropdown-toggle .login-wrapper {
  height: 29px;
  width: 29px;
  color: #4F49F5;
  background-color: rgba(79, 73, 245, 0.1);
  border-radius: 50%;
  overflow: hidden;
  border-color: rgba(79, 73, 245, 0.1);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header .header-wrapper .main-header .dropdown .dropdown-toggle .login-wrapper .text-xs {
  font-weight: bold;
  margin: 0;
}
header .header-wrapper .main-header .dropdown .dropdown-toggle .login-wrapper img {
  max-width: 100%;
  display: block;
}
header .header-wrapper .main-header .dropdown .dropdown-menu {
  background-color: #FFFFFF;
  min-width: 200px;
  box-shadow: 0px 6px 30px rgba(14, 14, 14, 0.14);
  border-radius: 7px;
  border: none;
  padding: 11px 15px;
  margin-left: -150px;
  margin-top: 15px;
}
header .header-wrapper .main-header .dropdown .dropdown-menu li {
  color: #77808D;
  margin: 0;
  border-bottom: 0.2px solid #E1E3EE;
  padding: 6px 0;
}
header .header-wrapper .main-header .dropdown .dropdown-menu li:nth-last-child(1) {
  border-bottom: none;
}
header .header-wrapper .main-header .dropdown .dropdown-menu li a {
  color: #77808D;
  padding: 0;
}
header .header-wrapper .main-header .dropdown .dropdown-menu .li-hover:hover {
  background-color: #F9FBFF;
}
header .header-wrapper .main-header .dropdown .dropdown-menu .user-bonus .user-bonus-amount {
  border-radius: 7px;
  background-color: rgba(79, 73, 245, 0.1);
  padding: 2px 7px;
  margin-left: 10px;
}
header .header-wrapper .main-header .dropdown .dropdown-menu::before {
  content: '';
  position: absolute;
  top: -20px;
  right: 25px;
  color: #FFFFFF;
  border: 10px solid transparent;
  border-bottom: 10px solid #FFFFFF;
}
.shoppingCart {
  background-color: #F7F7F7;
}
.shoppingCart .shopping-steps {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}
.shoppingCart .shopping-steps .steps-wrapper {
  display: flex;
  flex-direction: row;
}
.shoppingCart .shopping-steps .steps-wrapper .steps {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.shoppingCart .shopping-steps .steps-wrapper .steps .step {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #E1E3EE;
}
.shoppingCart .shopping-steps .steps-wrapper .steps .step1 {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #5384F4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5384F4;
}
.shoppingCart .shopping-steps .steps-wrapper .steps .step1 .points1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #F7F7F7;
}
.shoppingCart .shopping-steps .steps-wrapper .steps .text {
  margin-left: 12px;
  margin-right: 8px;
  color: #0E0E0E;
  opacity: 0.5;
}
.shoppingCart .shopping-steps .steps-wrapper .steps .text1 {
  color: #0E0E0E;
  font-weight: 500;
  margin-right: 8px;
  margin-left: 12px;
}
.shoppingCart .shopping-steps .steps-wrapper hr {
  width: 50px;
  height: 2px;
  background-color: #E1E3EE;
  border-radius: 5px;
  margin-right: 12px;
}
.shoppingCart .shopping .font-big {
  color: #77808D;
  margin-bottom: 25px;
}
.shoppingCart .shopping-cart {
  display: flex;
  flex-direction: row;
  padding-bottom: 146px;
}
.shoppingCart .shopping-cart .boxShadow {
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 3px 10px #EAEAEA;
  height: 100%;
  width: 65%;
}
.shoppingCart .shopping-cart .boxShadow + .boxShadow {
  margin-left: 30px;
  margin-top: -50px;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all {
  padding: 20px;
  width: 100%;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .all .remove-wrapper a {
  color: #4F49F5;
  text-decoration: none;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #77808D;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .title .qty-wrap {
  width: 27%;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .title .qty-wrap .total-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products {
  display: flex;
  align-items: baseline;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-between;
  width: 100%;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row .product-discription {
  display: flex;
  width: 85%;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row .product-discription .product-img {
  height: 100px;
  border: 1px solid #D4D9EE;
  margin-right: 10px;
  margin-left: 8px;
  width: 16%;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row .product-discription .product-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row .product-discription .width {
  width: 82%;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row .product-discription .width .nameQty {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row .product-discription .width .nameQty .name {
  max-width: 280px;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row .product-discription .width .nameQty .name .text-sm {
  color: #0E0E0E;
  text-decoration: none;
  cursor: pointer;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row .product-discription .width .nameQty .name .text-xs {
  color: #77808D;
  margin-bottom: 0;
  font-weight: 400;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row .product-discription .width .nameQty .qty-wrapper {
  width: 86px;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row .product-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row .product-price .price-wrapper {
  text-align: right;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row .product-price .price-wrapper .text-md {
  font-weight: bold;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row .product-price .price-wrapper .text-sm {
  color: #77808D;
  text-decoration: line-through;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row .product-price .remove {
  color: #77808D;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .products .prod-row .product-price .remove:hover {
  color: #4F49F5;
}
.shoppingCart .shopping-cart .boxShadow .sellect-all .product-hr {
  max-width: 780px;
  height: 2px;
  color: #D4D9EE;
  margin-top: 0;
}
.shoppingCart .shopping-cart .promo-wrapper {
  height: 100%;
  position: sticky;
  top: 80px;
  max-width: 340px;
  margin-left: 30px;
  margin-top: -50px;
}
.shoppingCart .shopping-cart .promo-wrapper .boxShadow1 {
  width: 100%;
}
.shoppingCart .shopping-cart .promo-wrapper .boxShadow1 .promo {
  max-width: 340px;
  padding: 20px 23px 50px 23px;
}
.shoppingCart .shopping-cart .promo-wrapper .boxShadow1 .promo .promo-code {
  width: 100%;
  border-bottom: 1px solid #D4D9EE;
  padding: 10px 0;
}
.shoppingCart .shopping-cart .promo-wrapper .boxShadow1 .promo .promo-code .text-sm {
  font-weight: bold;
}
.shoppingCart .shopping-cart .promo-wrapper .boxShadow1 .promo .promo-code .apply {
  display: flex;
  flex-direction: row;
}
.shoppingCart .shopping-cart .promo-wrapper .boxShadow1 .promo .promo-code .apply .apply-input {
  width: 66%;
  margin-right: 10px;
}
.shoppingCart .shopping-cart .promo-wrapper .boxShadow1 .promo .promo-code .apply .apply-input .form-group input {
  margin-right: 10px;
}
.shoppingCart .shopping-cart .promo-wrapper .boxShadow1 .promo .promo-code .apply .button-wrapper {
  width: 34%;
}
.shoppingCart .shopping-cart .promo-wrapper .boxShadow1 .promo .promo-code .apply .button-wrapper .main-btn {
  width: 100%;
  text-decoration: none;
}
.shoppingCart .shopping-cart .promo-wrapper .boxShadow1 .promo .promo-code .text-xs {
  color: #77808D;
}
.shoppingCart .shopping-cart .promo-wrapper .boxShadow1 .promo .promo-code .items-total .item {
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
  color: #77808D;
}
.shoppingCart .shopping-cart .promo-wrapper .boxShadow1 .promo .promo-code .items-total .item .discount {
  color: #36c756;
}
.shoppingCart .shopping-cart .promo-wrapper .boxShadow1 .promo .promo-code .items-total .item .font-big {
  font-weight: bold;
  color: #0E0E0E;
}
.shoppingCart .shopping-cart .promo-wrapper .boxShadow1 .promo .borderNone {
  border-bottom: none;
}
.shoppingCart .shopping-cart .promo-wrapper .checkout {
  width: 100%;
}
.shoppingCart .shopping-cart .promo-wrapper .checkout .checkout-btn {
  margin-top: 30px;
}
.shoppingCart .shopping-cart .promo-wrapper .checkout .checkout-btn .main-btn {
  width: 100%;
  text-decoration: none;
}
.shoppingCart .shopping-cart .paypal-wrapper {
  width: 100%;
}
.shoppingCart .shopping-cart .paypal-wrapper .title .text-sm {
  color: #77808D;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 12px;
}
.shoppingCart .cardWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shoppingCart .cardWrap .visa {
  background-image: url(../img/visa.svg);
}
.shoppingCart .cardWrap .master {
  background-image: url(../img/master.svg);
}
.shoppingCart .cardWrap .amex {
  background-image: url(../img/amex.svg);
}
.shoppingCart .cardWrap .arca {
  background-image: url(../img/arca.svg);
}
.shoppingCart .cardWrap .pay_pal {
  background-image: url(../img/paypal.svg);
}
.shoppingCart .cardWrap .yandex_many {
  background-image: url(../img/yandexmany.svg);
}
.shoppingCart .cardWrap .payfast {
  background-image: url(../img/payfastlogo.svg);
}
.shoppingCart .cardWrap .paystack {
  background-image: url(../img/paystack.svg);
}
.shoppingCart .cardWrap .labels {
  background-size: contain;
  background-color: #fff;
  background-position: center;
  height: 30px;
  width: 47px;
  background-repeat: no-repeat;
  border-radius: 6px;
  margin-right: 7px;
  margin-top: 7px;
}
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 172px;
}
.empty .text-lg {
  color: #4F49F5;
}
.empty .text-md {
  color: #77808D;
}
.empty .cart-img img {
  max-width: 100%;
  max-height: auto;
  object-fit: contain;
}
.empty .cart-img--padding {
  padding-top: 52px;
}
.empty .continue-btn {
  margin-top: 62px;
  width: 225px;
}
.empty .continue-btn .main-btn {
  text-decoration: none;
}
