:root {
  --mainColor: #5846B9;
  --white: #FFFFFF;
  --secondaryLight: #F4F6F7;
  --secondaryDarck: #6D737A;
  --black: #262626;
  --mainHover: #3F366F;
}
/* Main button */
.btn {
  height: 50px;
  min-width: 50px;
  width: 100%;
  border-radius: 25px;
  padding: 0 25px;
  background-color: var(--mainColor);
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
  /* line-height: 50px; փակել եմ, որպեսի checkout-ի երկու տողանոց button-ը չխախտվի */
  text-align: center;
  border: none;
  /* outline: none; */
  cursor: pointer;
  transition: background 0.5s linear;
}
.btn:hover {
  background-color: var(--mainHover);
  /* background-color: mix(var(--mainColor), fade(var(--black), 80%)); */
  color: var(--white);
}
.btn:active {
  background-color: var(--mainColor);
  color: var(--white);
}
.btn:disabled {
  background-color: var(--secondaryLight);
  color: var(--secondaryDarck);
  /* cursor: not-allowed; */
}
.btn:focus {
  outline: none !important;
  color: var(--white);
}
/*Secondary button  */
.btn-secondary {
  background-color: var(--secondaryLight);
  color: var(--black);
}
.error {
  border: 1px solid #BF3E3E;
  border-radius: 6px;
}
.error:hover {
  border: 1px solid #BF3E3E;
  border-radius: 6px;
}
.errorMessage {
  color: #BF3E3E;
  padding: 3px 5px;
  font-size: 12px;
  margin-top: -14px;
  margin-bottom: 10px;
}
.checkbox-style-all {
  display: flex !important;
  flex-direction: row-reverse;
}
.checkbox-style {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  min-width: 20px;
  height: 20px;
  cursor: pointer;
}
.checkbox-style .text-sm {
  min-width: 100px;
}
.checkbox-style input[type=checkbox] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.checkbox-style input[type=checkbox]:checked + label {
  border: none;
  background-color: #4F49F5;
}
.checkbox-style input[type=checkbox]:checked + label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 10px;
  height: 6px;
  border: 1px solid #FFFFFF;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
}
.checkbox-style label {
  content: "";
  display: block;
  width: 20px;
  height: 100%;
  border: 1px solid #D3D9F0;
  border-radius: 4px;
  margin-right: 5px;
  margin-top: -1px;
}
input {
  width: 100%;
  padding: 12px 20px ;
  cursor: pointer;
  border: 1px solid #D4D9EE;
  border-radius: 6px;
  text-overflow: ellipsis;
}
input:focus {
  outline: none;
  background-color: #F9FBFF;
  border: 1px solid #4F49F5;
}
input:hover {
  background-color: #F9FBFF;
  border: 1px solid #4F49F5;
}
.error input {
  border: none;
}
.select-wrapper {
  position: relative;
}
.select-wrapper .select-arrow {
  position: absolute;
  top: 16px;
  right: 17px;
}
select {
  width: 100%;
  height: 50px;
  border: 1px solid #D4D9EE;
  border-radius: 6px;
  padding: 14px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  z-index: 5;
  background-color: transparent;
}
select:focus {
  outline: none;
}
select:hover {
  background-color: #f9fbff;
  border: 1px solid #4F49F5;
}
.error select {
  border: none;
}
.label-container {
  border-radius: 6px;
  border: 2px solid #D4D9EE;
  background-color: #FFFFFF;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.label-container .text--mrl {
  margin-left: 10px;
}
.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin: 0;
  left: 0;
  height: 100%;
  top: 0;
}
.label-container:hover {
  border: 1px solid #4F49F5;
  background-color: #F9FBFF;
}
.border2px:hover {
  border: 2px solid #4F49F5;
}
.label-container--border {
  border: 1px solid #D4D9EE;
}
.reward-points:hover {
  border: 1px solid #36c756;
  background-color: rgba(54, 199, 86, 0.05);
}
.reward-points-selected {
  border: 1px solid #36c756;
  background-color: rgba(54, 199, 86, 0.05);
}
.label-selected {
  background-color: #F9FBFF;
  border-color: #4F49F5;
}
.checkmark {
  height: 23px;
  width: 23px;
  border: 1px solid #E1E3EE;
  border-radius: 50%;
  min-width: 23px;
  position: relative;
}
.label-container input:checked ~ .checkmark {
  background-color: #FFFFFF;
  border: 1px solid #4F49F5;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.label-container input:checked ~ .checkmark:after {
  display: block;
}
.label-container .checkmark:after {
  top: 3px;
  left: 3px;
  width: 15px;
  height: 15px;
  border-radius: 80%;
  background: #4F49F5;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
p {
  margin-bottom: 0;
}
.text-lg {
  font-size: 30px;
}
.font-big {
  font-size: 20px;
}
.font-lg {
  font-size: 18px;
}
.text-md {
  font-size: 16px;
}
.text-s {
  font-size: 13px;
}
.text-xs {
  font-size: 12px;
}
.light-dark {
  color: #77808D;
}
@font-face {
  font-family: Helvetica Neue;
  src: url(font/HelveticaNeueCyr-Bold.woff);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Helvetica Neue;
  src: url(font/HelveticaNeueCyr-Medium.woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Helvetica Neue;
  src: url(font/HelveticaNeueCyr-Light.woff);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Helvetica Neue;
  src: url(font/HelveticaNeueCyr-Roman.woff2);
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica Neue', 'sans-serif';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  margin: 0;
  padding: 0;
  color: #0E0E0E;
  font-size: 14px;
  background-color: #F4f6F7;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #E1E3EE;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  bottom: 0;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #4F49F5;
  animation: loader 10s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #FFFFFF;
  animation: loader-inner 20s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
.modal1 {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.modal1 .modal-header {
  border-bottom: none;
}
.modal1 .font-big {
  width: 70%;
  font-weight: bold;
}
.modal1 .text-margin {
  margin-top: -20px;
  margin-bottom: 70px;
}
.modal1 .modal-dialog {
  width: 526px;
  box-shadow: 0 3px 10px #D4D9EE;
}
.modal1 .modal-dialog .modal-content {
  padding-left: 10px;
  padding-top: 10px;
}
.modal1 .modal-footer {
  border-top: none;
  display: flex;
  justify-content: flex-end;
}
.modal1 .modal-footer .btn {
  width: 105px;
  border: none;
}
.modal1 .modal-footer .btn + .btn {
  margin-left: 10px;
}
.modal1 .modal-footer .btn_cancel {
  background-color: #F4F4F4;
}
.modal1 .modal-footer .btn_cancel:hover {
  color: #FFFFFF;
  background-color: #D3D9F0;
}
.modal1 .modal-footer .btn_error {
  background-color: #BF3E3E;
}
.modal1 .modal-footer .btn_error:hover {
  background-color: #BF3E3E;
}
.modal1 .modal-footer .btn_warning {
  background-color: #F79E1B;
}
.modal1 .modal-footer .btn_warning:hover {
  background-color: #D38717;
}
.modal1 .modal-footer .btn_primary:hover {
  background-color: #4F49F5;
}
.modal1 .modal-width {
  width: 620px;
}
.modal1 .modal-width .modal-content {
  padding: 10px;
}
.modal1 .modal-width .modal-content .modal-body .text-margin {
  margin-bottom: 32px;
}
.modal1 .modal-width .modal-content .modal-body .deliver-address .label-container .checkmark {
  display: none;
}
.modal1 .modal-width .modal-content .modal-body .deliver-address .change-address_center {
  z-index: 1;
  display: flex;
  justify-content: center;
}
.modal1 .modal-width .modal-content .modal-body .deliver-address .change-address_center .text-sm--color {
  color: #4F49F5;
  text-decoration: none;
}
.language-currency {
  padding: 6px 0;
}
.language-currency .lang-wrapper .lenguage-block {
  float: right;
  margin-right: 25px;
}
.language-currency .dropdown span {
  cursor: pointer;
  font-size: 12px;
  padding: 0;
}
.language-currency .dropdown span img {
  margin-left: 7px;
}
.language-currency .dropdown span .dropdown-open {
  transform: rotate(179deg);
}
.language-currency .dropdown .dropdown-menu {
  background-color: #FFFFFF;
  min-width: 70px;
  box-shadow: 0px 6px 30px rgba(14, 14, 14, 0.14);
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 11px;
  margin-left: -15px;
  margin-top: 5px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  transform: rotateX(90deg);
  transform-origin: top;
  opacity: 0;
  display: block;
  width: 100%;
  border: none;
}
.language-currency .dropdown .dropdown-menu::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 15px;
  color: #FFFFFF;
  border: 5px solid transparent;
  border-bottom: 5px solid #FFFFFF;
}
.language-currency .dropdown .dropdown-menu .closing {
  display: none;
}
.language-currency .dropdown .dropdown-menu li {
  padding: 6px 10px;
  text-align: right;
  font-size: 12px;
}
.language-currency .dropdown.open .dropdown-menu {
  opacity: 1;
  transform: rotateX(0deg);
  transform-origin: top;
  width: 100%;
  border: none;
}
.language-currency .currency-wrapper {
  float: right;
}
header {
  padding: 10px 0;
  background-color: #FFFFFF;
}
header .header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header-logo {
  padding: 7px 0;
}
header .header-logo a {
  display: flex;
  align-items: center;
}
header .header-logo a img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
header .header-logo a .logo-text {
  max-width: 200px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
header .main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .busket {
  margin-right: 35px;
  width: 29px;
  height: 24px;
  position: relative;
}
header .busket img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
header .busket .number {
  position: absolute;
  top: 0;
  right: -3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #4F49F5;
  color: #FFFFFF;
  font-size: 7px;
  font-weight: bold;
  text-align: center;
  padding-top: 1px;
}
header .busket .number:hover {
  background-color: #F4f6F7;
  color: #0E0E0E;
  border: 1px solid #77808D;
  padding-top: 0;
}
header .login-wrapper {
  height: 29px;
  width: 29px;
  color: #4F49F5;
  background-color: rgba(79, 73, 245, 0.1);
  border-radius: 50%;
  overflow: hidden;
  border-color: rgba(79, 73, 245, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header .login-wrapper .text-xs {
  font-weight: bold;
  margin: 0;
}
header .login-wrapper img {
  max-width: 100%;
  display: block;
}
header .dropdown .dropdown-menu {
  background-color: #FFFFFF;
  min-width: 200px;
  box-shadow: 0px 6px 30px rgba(14, 14, 14, 0.14);
  border-radius: 7px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-left: -150px;
  margin-top: 15px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  transform: rotateX(90deg);
  transform-origin: top;
  opacity: 0;
  display: block;
  width: 100%;
  border: none;
}
header .dropdown .dropdown-menu li {
  padding-left: 10px;
  padding-right: 10px;
}
header .dropdown .dropdown-menu li a {
  color: #77808D;
  padding: 0;
}
header .dropdown .dropdown-menu::before {
  content: '';
  position: absolute;
  top: -20px;
  right: 25px;
  color: #FFFFFF;
  border: 10px solid transparent;
  border-bottom: 10px solid #FFFFFF;
}
header .dropdown.open .dropdown-menu {
  opacity: 1;
  transform: rotateX(0deg);
  transform-origin: top;
  width: 100%;
  border: none;
}
header .header_burger {
  display: none;
}
header .header-menu {
  display: none;
}
header .header-menu .header_list {
  display: flex;
  position: relative;
  z-index: 2;
}
header .header-menu .header_list li {
  list-style: none;
  margin-left: 20px;
}
header .header-menu .header_list li .header_link {
  color: #77808D;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.dropdown-menu li {
  color: #77808D;
  margin: 0;
  padding: 6px 0;
}
.dropdown-menu li a {
  color: #77808D;
  padding: 0;
}
.dropdown-menu li a:hover {
  background-color: #F9FBFF;
}
.dropdown-menu .li-hover:hover {
  background-color: #F9FBFF;
}
.user-bonus {
  background-color: rgba(247, 158, 27, 0.05);
  display: flex;
  justify-content: space-between;
}
.user-bonus span {
  color: #F79E1B;
}
.user-bonus .user-bonus-amount {
  border-radius: 7px;
  padding: 2px 7px;
  margin-left: 10px;
}
.shoppingCart-simple {
  margin-top: 30px;
}
.shoppingCart {
  background-color: #F4f6F7;
}
.shopping-steps {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 10px;
}
.shopping-steps .steps-wrapper {
  display: flex;
  flex-direction: row;
}
.shopping-steps .steps-wrapper .steps {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.shopping-steps .steps-wrapper .steps .step {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #E1E3EE;
  position: relative;
}
.shopping-steps .steps-wrapper .steps .step1 {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #5384F4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5384F4;
}
.shopping-steps .steps-wrapper .steps .step1 .points1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #F4f6F7;
}
.shopping-steps .steps-wrapper .steps .step1 .points-checkd::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 8.5px;
  width: 11px;
  height: 8px;
  border: 1px solid #FFFFFF;
  border-radius: 1px;
  border-width: 0 0 3px 3px;
  transform: rotate(-45deg);
}
.shopping-steps .steps-wrapper .steps .text {
  margin-left: 12px;
  margin-right: 8px;
  color: rgba(14, 14, 14, 0.4);
}
.shopping-steps .steps-wrapper .steps .text-bold {
  color: #0E0E0E;
  font-weight: 500;
  margin-right: 8px;
  margin-left: 12px;
}
.shopping-steps .steps-wrapper .steps .success-text {
  color: #36c756;
  text-decoration: none;
}
.shopping-steps .steps-wrapper .steps .success-step {
  background-color: #36c756;
  border: #36c756;
}
.shopping-steps .steps-wrapper hr {
  width: 50px;
  height: 2px;
  background-color: #E1E3EE;
  border-radius: 5px;
  margin-right: 12px;
}
.shopping-steps .steps-wrapper .success-step {
  background-color: #36c756;
  border: #36c756;
}
.shopping-mobile {
  display: none;
}
.header-menu {
  display: none;
}
.a-disabled {
  pointer-events: none;
}
.title {
  margin-bottom: 25px;
}
.shopping-cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 146px;
}
.box-shadow-wrapper {
  width: 68%;
}
.boxShadow {
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 3px 10px #E1E3EE;
  height: 100%;
}
.boxShadow + .boxShadow {
  margin-left: 30px;
  margin-top: -50px;
}
.boxShadow .sellect-all {
  padding: 20px;
  width: 100%;
}
.boxShadow .all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.boxShadow .all .wrap-color {
  display: none;
}
.boxShadow .all .wrap-color a {
  color: #4F49F5;
}
.boxShadow .products {
  display: flex;
  align-items: baseline;
}
.boxShadow .products .prod-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-between;
  width: 100%;
}
.boxShadow .products .prod-row .product-discription {
  display: flex;
  width: 85%;
}
.boxShadow .products .prod-row .product-discription .product-img {
  height: 100px;
  max-width: 100px;
  width: 100%;
  margin-right: 10px;
  margin-left: 8px;
}
.boxShadow .products .prod-row .product-discription .product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.boxShadow .products .prod-row .product-discription .width {
  width: 82%;
}
.boxShadow .products .prod-row .product-discription .width .nameQty {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.boxShadow .products .prod-row .product-discription .width .nameQty .name {
  max-width: 280px;
}
.boxShadow .products .prod-row .product-discription .width .nameQty .name .name-wrapper {
  margin-bottom: 10px;
}
.boxShadow .products .prod-row .product-discription .width .nameQty .name .name-wrapper .text-sm {
  color: #0E0E0E;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 10px;
}
.boxShadow .products .prod-row .product-discription .width .nameQty .name .product-characteristics span {
  margin-bottom: 6px;
}
.boxShadow .products .prod-row .product-discription .width .nameQty .name .product-characteristics:last-child {
  margin-bottom: 10px;
}
.boxShadow .products .prod-row .product-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.boxShadow .products .prod-row .product-price .remove-price {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.boxShadow .products .prod-row .product-price .remove-price .remove {
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}
.boxShadow .products .prod-row .product-price .remove-price .remove:hover {
  color: #4F49F5;
}
.boxShadow .products .prod-row .product-price button {
  display: none;
}
.boxShadow .products .prod-row .qty-wrapper {
  width: 110px;
  text-align: center;
}
.boxShadow .products .prod-row .qty-wrapper .add-plus {
  width: 50px;
  display: flex;
  margin-right: 1px;
  vertical-align: top;
}
.boxShadow .products .prod-row .qty-wrapper .add-plus .material-icons {
  min-width: 30px;
  height: 30px;
  padding: 3px 4px 4px 3px;
}
.boxShadow .products .prod-row .qty-wrapper .add-plus .icons-disabled {
  background-color: #D3D9F0;
  cursor: not-allowed;
}
.boxShadow .products .prod-row .qty-wrapper .add-plus input {
  border: none;
  padding: 0;
  width: 34px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: text;
  text-align: center;
}
.boxShadow .products .prod-row .qty-wrapper .add-plus input:hover,
.boxShadow .products .prod-row .qty-wrapper .add-plus input:focus {
  background-color: #FFFFFF;
}
.boxShadow .products .prod-row .qty-wrapper .font-lg {
  font-weight: bold;
}
.boxShadow .products .prod-row .qty-wrapper .font-md {
  font-weight: bold;
  text-align: center;
}
.boxShadow .products .price-wrapper {
  text-align: right;
}
.boxShadow .products .price-wrapper .text-md {
  font-weight: bold;
}
.boxShadow .products .price-wrapper .text-sm {
  text-decoration: line-through;
}
.boxShadow .products + .products {
  border-top: 1px solid #D4D9EE;
  padding-top: 20px;
}
.promo-wrapper {
  height: 100%;
  position: sticky;
  top: 80px;
  width: 30%;
  margin-left: 30px;
}
.promo-wrapper .boxShadow1 {
  width: 100%;
}
.promo-wrapper .boxShadow1 .promo {
  max-width: 340px;
}
.promo-wrapper .boxShadow1 .promo .promo-code-wrapper {
  padding: 6px 23px 0px 23px;
}
.promo-wrapper .boxShadow1 .promo .promo-code-wrapper .promo-code {
  width: 100%;
  border-bottom: 1px solid #D4D9EE;
  padding: 10px 0;
}
.promo-wrapper .boxShadow1 .promo .promo-code-wrapper .promo-code .text-sm {
  font-weight: bold;
  margin-bottom: 10px;
}
.promo-wrapper .boxShadow1 .promo .promo-code-wrapper .promo-code .apply {
  display: flex;
  flex-direction: row;
}
.promo-wrapper .boxShadow1 .promo .promo-code-wrapper .promo-code .apply .apply-input {
  width: 66%;
  margin-right: 10px;
}
.promo-wrapper .boxShadow1 .promo .promo-code-wrapper .promo-code .apply .apply-input .form-group input {
  margin-right: 10px;
}
.promo-wrapper .boxShadow1 .promo .promo-code-wrapper .promo-code .apply .button-wrapper {
  width: 34%;
}
.promo-wrapper .boxShadow1 .promo .promo-code-wrapper .promo-code .apply .button-wrapper .btn {
  width: 100%;
}
.promo-wrapper .boxShadow1 .promo .promo-code-wrapper .promo-code .text-xs {
  color: #77808D;
}
.promo-wrapper .boxShadow1 .promo .promo-code-wrapper .promo-code .items-total .item {
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
}
.promo-wrapper .boxShadow1 .promo .promo-code-wrapper .promo-code .items-total .item .discount {
  color: #36c756;
}
.promo-wrapper .boxShadow1 .promo .promo-code-wrapper .promo-code .items-total .item .font-big {
  font-weight: bold;
  color: #0E0E0E;
}
.promo-wrapper .boxShadow1 .promo .promo-code-wrapper .promo-code .items-total .item .reward {
  color: #F79E1B;
}
.promo-wrapper .boxShadow1 .promo .promo-code-wrapper .borderNone {
  border-bottom: none;
}
.promo-wrapper .boxShadow1 .promo .user-bonus {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 23px;
  padding-right: 23px;
}
.promo-wrapper .boxShadow1 .promo .user-bonus img {
  margin-right: -30px;
}
.promo-wrapper .boxShadow1 .promo .user-bonus .promo-code {
  width: 85%;
}
.promo-wrapper .boxShadow1 .promo .user-bonus .promo-code .items-total .item {
  display: flex;
  justify-content: space-between;
}
.promo-wrapper .checkout {
  width: 100%;
}
.promo-wrapper .checkout .checkout-btn {
  margin-top: 20px;
}
.promo-wrapper .checkout .checkout-btn .btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.promo-wrapper .checkout .checkout-btn .btn p {
  width: 100%;
}
.promo-wrapper .checkout .checkout-btn .btn .text-xs {
  font-weight: 400;
}
.promo-wrapper .text-wrapper .text-xs {
  text-align: center;
  color: #77808D;
  padding: 10px;
}
.promo-wrapper--mt {
  margin-top: 30px;
}
.paypal-wrapper {
  width: 100%;
}
.paypal-wrapper .paypal-title .text-sm {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 12px;
}
.address-form .reward-points .checkbox-style input[type=checkbox]:checked + label {
  background-color: #36c756;
}
.methods-row {
  display: flex;
}
.methods-row .card-width {
  width: 50%;
}
.methods-row .card-width .lable--width {
  padding: 20px;
}
.methods-row .card-width + .card-width {
  margin-left: 25px;
}
.deliver-address .border-none-bottom {
  border-bottom: none;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.deliver-address .border-none-bottom:hover {
  border-color: #D4D9EE;
  background-color: #FFFFFF;
  border-bottom: none;
}
.deliver-address .label-simple {
  padding: 25px 20px 10px 20px;
  border-top: 1px solid #D4D9EE;
  border-radius: 6px;
  margin-bottom: 30px;
}
.deliver-address .label-simple .new-address {
  padding: 0;
}
.label-container {
  padding-top: 7px;
  padding-bottom: 7px;
}
.label-container .decription-row {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.label-container .decription-row .label-description {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.label-container .decription-row .label-description .free-shipping-wrapper {
  max-width: 120px;
}
.label-container .decription-row .label-description .free-shipping-wrapper .text-sm {
  background-color: #36c756;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 30px;
  padding: 5px 13px;
  border: none;
  font-size: 14px;
  text-align: center;
}
.label-container .decription-row .label-description .text-sm--main {
  color: #4F49F5;
  font-weight: bold;
  text-align: right;
  margin-bottom: 0;
}
.label-container .decription-row .label-description .text-sm--free {
  color: #36c756;
}
.label-container .decription-row .label-description .edit-remove {
  z-index: 5;
}
.label-container .decription-row .label-description .edit-remove .edit {
  border-right: 1px solid #77808D;
  font-weight: 200;
  margin-right: 5px;
  padding-right: 2px;
}
.label-container .decription-row .label-description .edit-remove .remove {
  font-weight: 200;
}
.label-container .decription-row .label-description .font-big {
  margin-bottom: 0;
}
.label-container .decription-row .font-big {
  margin-bottom: 0px;
}
.label-container .decription-row .payment-name {
  margin-right: auto;
}
.label-container .decription-row--center {
  align-items: center;
}
.label-container-wrapper {
  background-color: #FFFFFF;
  border: 1px solid #D4D9EE;
  border-top: none;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.border-none {
  border: none;
  margin-bottom: 0;
}
.new-address {
  padding: 0px 20px 25px 20px;
}
.new-address .border-top {
  padding-top: 20px;
  border-top: 1px solid #D4D9EE;
}
.new-address .required-fields .text-sm {
  font-weight: bold;
  margin-bottom: 20px;
}
.new-address .address-section .form-position {
  position: relative;
}
.new-address .address-section .form-position .form-control-label {
  position: absolute;
  top: 12px;
  left: 20px;
  font-weight: 400;
}
.new-address .address-section .form-position input {
  height: 60px;
  padding-top: 30px;
}
.new-address .address-section .form-position input::placeholder {
  color: #0E0E0E;
}
.new-address .btn-wrapper {
  display: flex;
  margin-top: 20px;
}
.new-address .btn-wrapper .cansel-wrapper {
  width: 200px;
}
.new-address .btn-wrapper .cansel-wrapper + .continue-wrapper {
  margin-left: 20px ;
}
.two-input-wrapper {
  display: flex;
  justify-content: space-between;
}
.two-input-wrapper .form-width {
  width: 50%;
}
.two-input-wrapper .form-width + .form-width {
  margin-left: 10px;
}
.continue-wrapper {
  width: 200px;
}
.continue-wrapper .btn {
  border: none;
}
.mt {
  margin-top: 15px;
}
.cardWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.visa {
  background-image: url(../img/visa.svg);
}
.master {
  background-image: url(../img/master.svg);
}
.amex {
  background-image: url(../img/amex.svg);
}
.arca {
  background-image: url(../img/arca.svg);
}
.pay_pal {
  background-image: url(../img/paypal.svg);
}
.yandex_many {
  background-image: url(../img/yandexmany.svg);
}
.payfast {
  background-image: url(../img/payfast.svg);
}
.paystack {
  background-image: url(../img/paystack.svg);
}
.idram {
  background-image: url(../img/idram.svg);
}
.cash {
  background-image: url(../img/cash.svg);
}
.banktransfer {
  background-image: url(../img/bank-transfer.svg);
}
.labels {
  background-size: contain;
  background-color: #FFFFFF;
  background-position: center;
  height: 30px;
  width: 47px;
  background-repeat: no-repeat;
  border-radius: 6px;
  margin-right: 7px;
  margin-top: 7px;
}
.label-size {
  width: 70px;
  height: 40px;
  margin-top: 0;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.page-wrapper .text-lg {
  color: #4F49F5;
}
.page-wrapper .text-error {
  color: #BF3E3E;
}
.page-wrapper .font-sm {
  color: #77808D;
  margin-left: 5px;
}
.page-wrapper .text-md--width {
  width: 29%;
  text-align: center;
}
.page-wrapper .success-md {
  width: 52%;
  margin-bottom: 25px;
}
.page-wrapper .cart-img img {
  max-width: 100%;
  max-height: auto;
  object-fit: contain;
}
.page-wrapper .cart-img--padding {
  padding-top: 30px;
}
.page-wrapper .continue-btn {
  margin-top: 60px;
  width: 225px;
}
.page-wrapper .continue-btn--mt {
  margin-top: 30px;
}
.page-wrapper .icon-wrapper {
  position: relative;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 4px solid #4F49F5;
  margin-bottom: 15px;
}
.page-wrapper .icon-wrapper::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 13px;
  width: 30px;
  height: 19px;
  border: 3px solid #4F49F5;
  border-radius: 1px;
  border-width: 0 0 4px 4px;
  transform: rotate(-45deg);
}
.page-wrapper .icon-error {
  position: relative;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 3px solid #BF3E3E;
  margin-bottom: 15px;
}
.page-wrapper .icon-error::before {
  position: absolute;
  top: -21px;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\d7";
  font-size: 60px;
  color: #BF3E3E;
  line-height: 100px;
  text-align: center;
}
.container-wrapper {
  max-width: 730px;
  height: 450px;
}
.container-wrapper .page-wrapper--width {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.container-wrapper .text-md--width {
  width: 48%;
}
.details-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}
.details-wrapper-width {
  width: 65%;
  display: flex;
}
.details-wrapper-width .promo-wrapper {
  margin-top: 0;
}
.details-wrapper-width .details {
  width: 100%;
}
.details-wrapper-width .details .font-big {
  margin-bottom: 26px;
}
.details-wrapper-width .details .details-row {
  margin-bottom: 30px;
  display: flex;
}
.details-wrapper-width .details .details-row span {
  width: 50%;
}
.details-wrapper-width .details .details-row .pen {
  color: #4F49F5;
  font-size: 12px;
  width: 10px;
  margin-left: 3px;
}
.details-wrapper-width .promo-wrapper {
  width: 91%;
}
.details-wrapper-width .promo-wrapper .promo {
  padding-top: 0;
  padding-bottom: 0;
}
.success-continue {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.success-continue .btn {
  width: 224px;
}
.address-span .span-content .text-sm {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}
.address-span .span-content .text-sm + .left-border {
  border-left: 2px solid #E1E3EE;
  margin-left: 8px;
  padding-left: 10px;
}
.address-span .span-content .text-sm--color {
  color: #D38717;
}
.form-wrapper {
  width: 68%;
}
.shipping-address {
  margin-top: -10px;
  margin-bottom: 10px;
}
.shipping-address .text-xs {
  font-weight: bold;
}
.change-address {
  display: flex;
  justify-content: space-between;
}
.change-address .text-sm--color {
  color: #4F49F5;
  font-weight: bold;
  text-decoration: none;
}
.shipping-simple {
  margin-top: 20px;
}
.payment-simple {
  margin-top: 30px;
  margin-bottom: 15px;
}
.select-card {
  background-color: #FFFFFF;
  border: 1px solid #D4D9EE;
  border-radius: 6px;
  margin-bottom: 15px;
}
.select-card .font-big-wrapper {
  margin: 25px 20px 0px;
  border-bottom: 1px solid #D4D9EE;
}
.select-card .font-big-wrapper .font-big {
  font-weight: bold;
  padding-bottom: 16px;
  margin-bottom: 0px;
}
.select-card .text-md {
  margin-bottom: 0;
}
.select-card .label-container {
  border: none;
}
.select-card .label-container:hover {
  border: none;
}
.mega-wrapper {
  transition: 0.5s;
}
@media (max-width: 767px) {
  .mega-wrapper.open {
    transform: translateX(-335px);
  }
}
.success-wrapper {
  margin-bottom: 100px;
}
.box-width {
  width: 65%;
}
.form-select {
  border: 1px solid #D4D9EE;
  border-radius: 6px;
  display: flex;
  height: 60px;
}
.form-select:hover {
  border: 1px solid #4F49F5;
  background-color: #F9FBFF;
}
.form-select:focus {
  border: 1px solid #4F49F5;
  background-color: #F9FBFF;
  outline: none;
}
.form-select .select-wrapper {
  width: 85px;
}
.form-select .select-wrapper .select-arrow {
  top: 27px;
  right: 0px;
}
.form-select select {
  height: 60px;
  border: none;
  padding-left: 19px;
  padding-top: 28px;
  padding-right: 0px;
  padding-bottom: 12px;
}
.form-select select:hover {
  border: none;
  height: 55px;
}
.form-select input {
  border: none;
  height: 56px !important;
}
.form-select input:hover {
  border: none;
  background-color: #F9FBFF;
}
.form-select input:focus {
  border: none;
}
.delivery-methods-wrapper .two-input-wrapper .form-width {
  width: 100%;
  margin-bottom: 10px;
}
.delivery-methods-wrapper .change-address {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  margin-bottom: 10px;
}
.delivery-methods-wrapper .change-address .text-sm--color {
  color: #4F49F5;
  font-weight: bold;
  text-decoration: none;
}
.delivery-methods-wrapper .deliver-address .label-simple {
  padding: 0;
  border-top: none;
  margin-bottom: 0;
}
.delivery-methods-wrapper .deliver-address .label-container-wrapper {
  background-color: transparent;
  border: none;
}
.form-wrapper-simple .title {
  margin-bottom: 15px;
}
.textarea-wrapper .font-big {
  font-weight: 400;
  margin-top: 15px;
}
.textarea-wrapper .form-control {
  min-height: 150px;
  border: 1px solid #D4D9EE;
  border-radius: 6px;
  padding: 20px;
}
.textarea-wrapper .form-control:hover {
  border: 1px solid #5384F4;
}
.textarea-wrapper .form-control:focus {
  box-shadow: none;
  border: 1px solid #5384F4;
}
@media screen and (max-width: 991px) {
  .boxShadow {
    background-color: #F4f6F7;
    box-shadow: none;
  }
  .boxShadow .sellect-all {
    padding: 0;
  }
  .boxShadow .sellect-all .title {
    display: none;
  }
  .boxShadow .sellect-all .all {
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .boxShadow .sellect-all .all .checkbox-label .checkbox-style label {
    background-color: #FFFFFF;
  }
  .boxShadow .sellect-all .all .checkbox-label .checkbox-style input[type=checkbox]:checked + label {
    background-color: #4F49F5;
  }
  .boxShadow .sellect-all .products {
    flex-direction: column;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-bottom: 12px;
    box-shadow: 0 3px 10px #EAEAEA;
    padding: 10px;
    border-top: none;
  }
  .boxShadow .sellect-all .products .prod-row {
    flex-direction: column;
    margin-bottom: 0;
  }
  .boxShadow .sellect-all .products .prod-row .product-discription {
    width: 100%;
  }
  .boxShadow .sellect-all .products .prod-row .product-discription .product-img {
    border: none;
  }
  .boxShadow .sellect-all .products .prod-row .product-discription .nameQty {
    flex-direction: column;
  }
  .boxShadow .sellect-all .products .prod-row .product-discription .nameQty .name {
    max-width: 100%;
  }
  .boxShadow .sellect-all .products .prod-row .product-price {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #D4D9EE;
    padding-top: 15px;
  }
  .boxShadow .sellect-all .products .prod-row .product-price .remove-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
  }
  .boxShadow .sellect-all .products .prod-row .product-price .main-btn {
    display: block;
    width: 92px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .boxShadow .sellect-all .product-hr {
    display: none;
  }
  .boxShadow .sellect-all .price-wrapper {
    display: flex;
    flex-direction: column;
  }
  .boxShadow .sellect-all .price-wrapper .sale {
    margin-left: 10px;
    margin-bottom: 0;
  }
  .boxShadow .sellect-all .price-wrapper .text-md {
    margin-bottom: 0;
  }
  .promo-wrapper {
    width: 42%;
    margin-left: 15px;
  }
  .promo-wrapper .boxShadow1 {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 3px 10px #EAEAEA;
    background-color: #FFFFFF;
  }
  .methods-row {
    flex-direction: column;
  }
  .methods-row .card-width {
    width: 100%;
  }
  .methods-row .card-width.card-width {
    margin-left: 0;
  }
  .label-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .label-container .decription-row .label-description .text-sm--main {
    display: none;
  }
  .label-container .decription-row .label-description .edit-remove {
    display: none;
  }
  .label-size {
    width: 38px;
    height: 25px;
  }
  .labels {
    margin-right: 4px;
  }
  .box-width {
    width: 100%;
  }
  .details-wrapper-width {
    width: 100%;
  }
  .change-address .span-content {
    max-width: 342px;
    font-size: 12px;
  }
  .change-address .text-sm--color {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .language-currency {
    display: none;
  }
  header .dropdown {
    display: none;
  }
  header .header_burger {
    display: block;
    width: 38px;
    height: 38px;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
  }
  .header-menu {
    display: block;
    position: fixed;
    right: -100%;
    top: 0;
    width: 350px;
    height: 100%;
    overflow: auto;
    background-color: #FFFFFF;
    z-index: 1;
    transition: 0.5s;
  }
  .header-menu .menu-close {
    float: right;
    margin-top: 32px;
    margin-right: 10px;
  }
  .header-menu .menu-close .close {
    color: #4F49F5;
    opacity: 1;
  }
  .header-menu .header_list {
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0;
  }
  .header-menu .header_list .font-big {
    font-weight: 500;
  }
  .header-menu .header_list a {
    text-decoration: none;
  }
  .header-menu .header_list a:hover {
    background-color: #F9FBFF;
    color: #77808D;
  }
  .header-menu .header_list a:focus {
    outline: none;
  }
  .header-menu .header_list li {
    margin: 0;
    padding: 13px 20px;
  }
  .header-menu .header_list li .text-sm {
    font-size: 18px;
  }
  .header-menu .header_list li a {
    color: #0E0E0E;
    padding: 0;
    font-size: 18px;
  }
  .header-menu .header_list li a:hover {
    background-color: #F9FBFF;
  }
  .header-menu .header_list .li-hover:hover {
    background-color: #F9FBFF;
  }
  .header-menu .header_list .user-bonus span {
    color: #F79E1B;
  }
  .header-menu .language-currency {
    display: block;
    position: fixed;
    bottom: 20px;
    width: 320px;
  }
  .header-menu .language-currency .language-currency-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .header-menu .language-currency .language-currency-wrap span {
    font-size: 16px;
  }
  .header-menu .language-currency .language-currency-wrap .dropdown.open .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-left: 0;
    margin-bottom: 5px;
  }
  .header-menu .language-currency .language-currency-wrap .dropdown.open .dropdown-menu::before {
    content: '';
    position: absolute;
    top: auto;
    bottom: -10px;
    right: 15px;
    color: #FFFFFF;
    border: 5px solid transparent;
    border-top: 5px solid #FFFFFF;
  }
  .header-menu .language-currency .language-currency-wrap .dropdown.open .dropdown-menu li {
    font-size: 16px;
  }
  .active {
    right: 0;
  }
  .shopping-steps {
    display: none;
  }
  .header-menu {
    display: block;
  }
  .shopping-mobile {
    padding-top: 10px;
    display: block;
    background-color: #FFFFFF;
    width: 100vw;
    margin-left: -15px;
  }
  .shopping-mobile .shopping-mobile-steps {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .shopping-mobile .shopping-mobile-steps .step-circle {
    margin-right: 12px;
    width: 28px;
    height: 28px;
    background-color: #4F49F5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .shopping-mobile .shopping-mobile-steps .step-circle .points {
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border-radius: 50%;
  }
  .shopping-mobile .shopping-mobile-steps .step-number-wrapper {
    display: flex;
    align-items: center;
  }
  .shopping-mobile .shopping-mobile-steps .step-number-wrapper .text-xs {
    margin-bottom: 0;
    margin-right: 5px;
  }
  .shopping-mobile .shopping-mobile-steps .step-number-wrapper .text-xs .step-color {
    margin-left: -3px;
    color: #77808D;
  }
  .shopping-mobile .shopping-mobile-steps .text-sm {
    font-weight: 500;
  }
  .shopping-mobile .shopping-mobile-row {
    background-color: #E1E3EE;
    height: 12px;
  }
  .shopping-mobile .shopping-mobile-row .row-success {
    width: 25%;
    background-color: #36c756;
    height: 12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .shopping-mobile .shopping-mobile-row .row-success-2 {
    width: 50%;
  }
  .shopping-mobile .shopping-mobile-row .row-success-3 {
    width: 75%;
  }
  .shopping-mobile .shopping-mobile-row .row-success-4 {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .shopping-cart {
    margin-top: 20px;
  }
  .form-control-label {
    font-size: 12px;
  }
  .form-wrapper {
    width: 55%;
  }
  .change-address .span-content {
    max-width: 207px;
  }
  .two-input-wrapper {
    flex-direction: column;
  }
  .two-input-wrapper .form-width {
    width: 100%;
  }
  .two-input-wrapper .form-width + .form-width {
    margin-left: 0;
  }
  .two-input-wrapper .form-width .select-arrow {
    right: 0px;
  }
  .payment-method .font-big {
    font-size: 14px;
  }
  .payment-name {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .header-menu {
    width: 320px;
  }
  .mega-wrapper {
    transition: 0.5s;
  }
  .mega-wrapper.open {
    transform: translateX(-311px);
  }
  .title .font-big {
    display: none;
  }
  .title .simple-title {
    display: block;
  }
  .title .text-xs {
    font-size: 14px;
  }
  .box-shadow-wrapper {
    width: 100%;
  }
  .shopping-cart {
    flex-direction: column;
  }
  .shopping-cart .boxShadow {
    width: 100%;
  }
  .shopping-cart .boxShadow .all {
    padding-left: 0;
  }
  .shopping-cart .boxShadow .all .links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .shopping-cart .boxShadow .all .links-wrapper .wrap-color {
    display: block;
  }
  .shopping-cart .boxShadow .all .links-wrapper .wrap-color + .wrap-color {
    margin-left: 23px;
  }
  .shopping-cart .boxShadow .all .links-wrapper .wrap-color a {
    text-decoration: none;
    cursor: pointer;
  }
  .shopping-cart .boxShadow .all .checkbox-style {
    display: none;
  }
  .shopping-cart .boxShadow .all .checkbox-style .none {
    display: none;
  }
  .shopping-cart .boxShadow .all .text-sm {
    display: none;
    color: #4F49F5;
    font-weight: 400;
  }
  .shopping-cart .boxShadow .products {
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
    border-top: transparent;
    padding-top: 0;
    padding: 0;
    align-items: flex-start;
  }
  .shopping-cart .boxShadow .products .checkbox-style {
    display: none;
  }
  .shopping-cart .boxShadow .products .prod-row {
    padding: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: relative;
    flex-direction: column;
    transition: all 1s ease 0s;
  }
  .shopping-cart .boxShadow .products .prod-row .product-discription .width .nameQty {
    flex-direction: column;
  }
  .shopping-cart .boxShadow .products .prod-row .price-wrapper .sale {
    margin-left: 0;
  }
  .shopping-cart .promo-wrapper {
    width: 100vw;
    margin-top: 40px;
    margin-left: 0;
    margin-left: -15px;
  }
  .shopping-cart .promo-wrapper .boxShadow1 {
    border-radius: 0;
  }
  .shopping-cart .promo-wrapper .boxShadow1 .promo {
    max-width: 100%;
  }
  .shopping-cart .promo-wrapper .boxShadow1 .promo .items {
    font-size: 16px;
  }
  .shopping-cart .promo-wrapper .boxShadow1 .promo .items .font-big {
    font-size: 20px;
  }
  .shopping-cart .promo-wrapper .checkout {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 30px;
  }
  .shopping-cart .promo-wrapper .checkout .checkout-btn {
    width: 319px;
  }
  .shopping-cart .label-container .text-md {
    font-size: 14px;
  }
  .shopping-cart .label-container .font-big {
    font-size: 14px;
  }
  .shopping-cart .label-container .font-lg {
    font-size: 14px;
  }
  .shopping-cart .label-container .free-shipping-wrapper {
    max-width: 94px;
  }
  .shopping-cart .label-container .free-shipping-wrapper .text-sm {
    font-size: 10px;
  }
  .shopping-cart .span-content .text-sm {
    font-size: 12px;
  }
  .page-wrapper .success-md {
    width: 90%;
  }
  .page-wrapper .icon-wrapper {
    width: 40px;
    height: 40px;
    border: 3px solid #4F49F5;
  }
  .page-wrapper .icon-wrapper::before {
    top: 7px;
    left: 7px;
    width: 20px;
    height: 14px;
  }
  .page-wrapper .icon-error {
    width: 40px;
    height: 40px;
    border: 3px solid #4F49F5;
  }
  .page-wrapper .text-lg {
    font-size: 25px;
  }
  .page-wrapper .boxShadow .qty-wrapper {
    text-align: left;
  }
  .page-wrapper .boxShadow .qty-wrapper .qty-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .page-wrapper .boxShadow .qty-wrapper .qty-wrap .font-lg {
    font-size: 14px;
  }
  .page-wrapper .boxShadow .qty-wrapper .qty-wrap .font-md {
    font-weight: 400;
    margin-right: 5px;
  }
  .page-wrapper .boxShadow .products .price-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-left: 118px;
  }
  .page-wrapper .boxShadow .products .price-wrapper .text-sm {
    margin-right: 10px;
  }
  .page-wrapper .boxShadow .products .price-wrapper .text-md {
    margin-right: 5px;
  }
  .form-wrapper {
    width: 100%;
  }
  .btn-wrapper .cansel-wrapper {
    display: none;
  }
  .btn-wrapper .continue-wrapper {
    display: none;
  }
  .continue-wrapper {
    display: none;
  }
  .details-wrapper-width {
    flex-direction: column;
  }
  .details-wrapper-width .font-big {
    text-align: center;
  }
  .details-wrapper-width .details-row {
    margin-left: 12px;
  }
  .details-wrapper-width .details-row .pen {
    font-size: 20px;
  }
  .details-wrapper-width .promo-wrapper {
    width: 100vw;
    margin-top: 40px;
    margin-left: 0;
    margin-left: -15px;
  }
  .details-wrapper-width .promo-wrapper .boxShadow1 {
    border-radius: 0;
  }
  .details-wrapper-width .promo-wrapper .boxShadow1 .promo {
    max-width: 100%;
  }
  .checkout {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    width: 100%;
    left: 0;
  }
  .checkout .checkout-btn .main-btn {
    width: 319px;
  }
  .shipping-address .span-content {
    max-width: 340px;
  }
  .cardWrap-padding {
    padding: 0 20px;
  }
  .page-wrapper .icon-error {
    width: 40px;
    height: 40px;
    border: 3px solid #BF3E3E;
  }
  .page-wrapper .icon-error::before {
    top: -33px;
    font-size: 45px;
    font-weight: bold;
  }
  .error-page-wrapper {
    background-color: #FFFFFF;
    height: 100vh;
  }
  .error-page-wrapper .text-md--width {
    width: 100%;
  }
  .modal1 .label-container {
    padding-left: 0;
    padding-right: 10px;
  }
  .modal1 .label-container .span-content {
    display: flex;
    flex-direction: column;
  }
  .modal1 .label-container .span-content .text-sm + .left-border {
    border: none;
    padding-left: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 479px) {
  .modal1 .font-big {
    width: 100%;
  }
  .modal1 .text-margin {
    margin-bottom: 40px;
  }
  .modal1 .modal-footer {
    justify-content: space-between;
  }
  .modal1 .modal-footer .main-btn {
    width: 150px;
  }
  .shipping-address .span-content {
    max-width: 215px;
  }
}
