@import url('colors/color.less');
@import url('components/buttons.less');
@import url('components/inputs.less');
@import url('components/fonts.less');

*{
    box-sizing: border-box;
}


body {
	font-family: 'Helvetica Neue', 'sans-serif'; 
	font-weight: 400; 
	font-style: normal;
	font-display: swap;
	margin: 0;
	padding: 0;
    color: @main-dark;
    // font-size: 14px;
    background-color: @bg;
}

// Start loader-wrapper styling
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: @stepBorder;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid @white;
    animation: loader 10s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: @white;
    animation: loader-inner 20s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
//   End loader-wrapper styling

// Start modal styling
.modal1{
    
    .modal-dialog{
        width: 526px;
        box-shadow: 0 3px 10px #EAEAEA;
        .modal-content{
            padding-left: 10px;
            padding-top: 10px;
            .modal-header{
                border-bottom: none;
                .font-big{
                    width: 70%;
                    font-weight: bold;
                }
            }
            .modal-body{
                .text-sm{
                    color: @light-dark;
                    margin-top: -20px;
                    margin-bottom: 70px;
                
                }
            }
            .modal-footer{
                border-top: none;
                display: flex;
                justify-content: flex-end;
                .main-btn{
                    width: 105px;
                    height: 45px;
                    border: none;
                    & + .main-btn{
                        margin-left: 10px;
                    }
                }
                .btn_cancel{
                    background-color: @light-gray;
                    color: @light-dark;
                }
                .btn_error{
                    background-color: @error;
                }
                .btn_warning{
                    background-color: @bonus;
                }
                // .btn_primary{
                //     background-color: @main;
                // }
            }
        }
    }
}
// End modal styling

// Start language and currency styling
.language-currency{
    padding: 8px 0;
    .lang-wrapper{
        .lenguage-block{
            float: right;
            margin-right: 25px;
        }
    }
            .dropdown{
                span{
                    cursor: pointer;
                    font-size: 12px;
                    padding: 0;
                   img{
                       margin-left: 7px;
                   }
                }

                .dropdown-menu{
                    background-color: @white;
                    min-width: 70px;
                    box-shadow: 0px 6px 30px fade(@main-dark , 14%);
                    border-radius: 7px;
                    border: none;
                    padding-top: 5px;
                    padding-bottom: 11px;
                    margin-left: -15px;
                    margin-top: 5px;
                    -webkit-transition: all .5s ease-out;
                    transition: all .5s ease-out;
                    transform: rotateX(90deg);
                    transform-origin: top;
                    opacity: 0;
                    display: block;
                    width: 100%;
                    border: none;
                    &::before{
                        content: '';
                            position: absolute;
                            top: -10px;
                            right: 15px;
                            color: #FFFFFF;
                            border: 5px solid transparent;
                            border-bottom: 5px solid #FFFFFF;
                    }
                    .closing{
                        display: none;
                    }
                    li{
                        padding: 6px 10px;
                        text-align: right;
                        font-size: 12px;
                    }
                }
                &.open {
                    .dropdown-menu {
                        opacity: 1;
                        transform: rotateX(0deg);
                        transform-origin: top;
                        width: 100%;
                        border: none;
                    }
                }
               
            }
        

    
    .currency-wrapper{
        float: right;
    }
}


// Start header styling
header{
    padding: 10px 0;
    background-color: @white;
    .header-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .header-logo{
            padding: 7px 0;
            a{
                display: flex;
                align-items: center;
                img{
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
                .logo-text{
                    max-width: 200px;
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
        .main-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            .busket{
                margin-right: 35px;
                width: 29px;
                height: 24px;
                position: relative;
                img{
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
                .number{
                    position: absolute;
                    top: 0;
                    right: -3px;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background-color: @mainBtn;
                    color: @white;
                    font-size: 7px;
                    font-weight: bold;
                    text-align: center;
                    padding-top: 1px;
                    &:hover{
                        background-color: @bg;
                        color: @main-dark;
                        border: 1px solid @light-dark;
                        padding-top: 0;
                    }
                }
            }
            .dropdown{
                .dropdown-toggle{
                    .login-wrapper{
                        height: 29px;
                        width: 29px;
                        color: @mainBtn;
                        background-color: fade(@mainBtn, 10%);
                        border-radius: 50%;
                        overflow: hidden;
                        border-color: fade(@mainBtn, 10%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        .text-xs{
                            font-weight: bold;
                            margin: 0;
                        }
                            img{
                              max-width: 100%;
                                display: block;
                            }
                        }
                    }
                .dropdown-menu{
                    background-color: @white;
                    min-width: 200px;
                    box-shadow: 0px 6px 30px fade(@main-dark , 14%);
                    border-radius: 7px;
                    border: none;
                    padding-top: 11px;
                    padding-bottom: 11px;
                    margin-left: -150px;
                    margin-top: 15px;
                    -webkit-transition: all .5s ease-out;
                    transition: all .5s ease-out;
                    transform: rotateX(90deg);
                    transform-origin: top;
                    opacity: 0;
                    display: block;
                    width: 100%;
                    border: none;
                    li{
                        padding-left: 10px;
                        padding-right: 10px;
                            a{
                                color: @light-dark; 
                                padding: 0;
                            }
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        top:-20px;
                        right: 25px;
                        color: @white;
                        border: 10px solid transparent;
                        border-bottom: 10px solid @white;
                    }
                }
                &.open {
                    .dropdown-menu {
                        opacity: 1;
                        transform: rotateX(0deg);
                        transform-origin: top;
                        width: 100%;
                        border: none;
                    }
                }               
            }
        }
        .header_burger{
            display: none;
        }
        .header-menu{
            
            display: none;
            .header_list{
                display: flex;
                position: relative;
                z-index: 2;
                li{
                    list-style: none;
                    margin-left: 20px;
                    .header_link{
                        color: @light-dark;
                        font-size: 14px;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

// Start menu li styling
.dropdown-menu {

    li{
        color: @light-dark;
        margin: 0;
        padding: 6px 0;

            a{
                color: @light-dark; 
                padding: 0;
                &:hover{
                    background-color: @selected;
                }
            }
    }
    .li-hover:hover{
        background-color: @selected;
    }
}
.user-bonus{
    background-color: fade(@bonus, 5%);
    display: flex;
    justify-content: space-between;
    span{
        color: @bonus;
    }
    .user-bonus-amount{
        border-radius: 7px; 
        padding: 2px 7px;
        margin-left: 10px;
    }
}
// End menu li styling

// Start shoppingCart styling
.shoppingCart{
    background-color: @bg;
}
    .shopping-steps{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 60px;
        .steps-wrapper{
            display: flex;
            flex-direction: row;
            .steps{
                display: flex;
                flex-direction: row;
                align-items: center;
                .step{
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    border: 2px solid @stepBorder;
                    position: relative;
                }
                .step1{
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    border: 2px solid @stepsActiv;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: @stepsActiv;
                    .points1{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: @bg;

                    }
                    .points-checkd::before {
                        content: "";
                        position: absolute;
                        top: 9px;
                        left: 8.5px;
                        width: 11px;
                        height: 8px;
                        border: 1px solid @white;
                        border-radius: 1px;
                        border-width: 0 0 3px 3px;
                        transform: rotate(-45deg);
                    }
                }                
                .text{
                    margin-left: 12px;
                    margin-right: 8px;
                    color: fade(@main-dark, 40%);
                    
                }
                .text-bold{
                    color: @main-dark;
                    font-weight: 500;
                    margin-right: 8px;
                    margin-left: 12px;
                }
                .success-text{
                    color: @hover;
                    text-decoration: none;
                }
                .success-step{
                    background-color: @hover;
                    border: @hover;
                }
            }
            hr{
                width: 50px;
                height: 2px;
                background-color: @stepBorder;
                border-radius: 5px;
                margin-right: 12px;
            }
            .success-step{
                background-color: @hover;
                border: @hover;
            }
        }
    }
    // Start shopping-mobile styling
    .shopping-mobile{
        display: none;
    }
    .header-menu{
        display: none;
    }
    // End shopping-mobile styling

    .a-disabled{
        pointer-events: none;
    }
    .title{
        margin-bottom: 25px;
     .font-big{
       color: @light-dark;
    }
    }

    .shopping-cart{
        display: flex;
        flex-direction: row;
        padding-bottom: 146px;
    }
    .box-shadow-wrapper{
        width: 68%;
    }
        .boxShadow{
            background-color: @white;
            border-radius: 6px;
            box-shadow: 0 3px 10px #EAEAEA;
            height: 100%;
            & + .boxShadow{
                margin-left: 30px;
                margin-top: -50px;
            }
            .sellect-all{
                padding: 20px;
                width: 100%;
                .all{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 30px;
                    .remove-wrapper{
                        a{
                            color: @mainBtn;                           
                        }
                    }
                }
                .title{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    color: @light-dark;
                    .qty-wrap{
                        width: 27%;
                        .total-wrapper{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 100%;    
                        }
                    }
                }
                .products{
                    display: flex;
                    align-items: baseline;
                    // label{
                        .prod-row{
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 30px;
                            justify-content: space-between;
                            width: 100%;                          
                            .product-discription{
                                display: flex;
                                width: 85%;
                                .product-img{                                   
                                    height:100px;
                                    height: 100px;
                                    margin-right: 10px;
                                    margin-left: 8px;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: contain;
                                    }
                                }
                                .width{
                                    width: 82%;
                                    .nameQty{
                                        width: 100%;
                                        display: flex;
                                        justify-content: space-between;
                                        .name{
                                            max-width: 280px;
                                            .name-wrapper{
                                                margin-bottom: 10px;
                                                .text-sm{
                                                    color: @main-dark;
                                                    text-decoration: none;
                                                    cursor: pointer;
                                                    margin-bottom: 10px;
                                                }
                                            }
                                            .product-characteristics{
                                                span{
                                                    margin-bottom: 6px;
                                                    &:first-child{
                                                        color: @light-dark;
                                                    }
                                                }
                                                &:last-child{
                                                    margin-bottom: 10px;
                                                }
                                             
                                            }
                                        }
                                        .qty-wrapper{
                                            width: 86px;
                                            .add-plus{
                                                width: 50px;
                                                display: flex;
                                                margin-right: 1px;
                                                vertical-align: top;
                                                .material-icons{
                                                    width: 30px;
                                                    height: 30px;
                                                    // padding: 6px;
                                                    padding: 7px 6px 6px 6px;
                                                    background-color: @main;
                                                    color: @white;
                                                    border-radius: 6px;
                                                    font-size: 18px;
                                                    cursor: pointer;
                                                }
                                                .icons-disabled{
                                                    background-color: @light-blue;
                                                }
                                                input{
                                                    border: none;
                                                    padding: 0;
                                                    width: 34px;
                                                    height: 30px;
                                                    font-size: 18px;
                                                    font-weight: bold;
                                                    cursor: text;
                                                    text-align: center;
                                                    &:hover, &:focus{
                                                        background-color: @white;
                                                    }
                                                   
                                                }
                                            }

                                        }
                                    }
                                }
                            }
                            .product-price{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                .remove-price{
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    .price-wrapper{
                                        text-align: right;
                                        .text-md{
                                            font-weight: bold;
                                        }
                                        .text-sm{
                                            color: @light-dark;
                                            text-decoration: line-through;                                        
                                        }
                                    }
                                    .remove{
                                        color: @light-dark;
                                        font-weight: 400;
                                        text-decoration: none;
                                        cursor: pointer;
                                        &:hover{
                                            color:@mainBtn;
                                        }
                                    }

                                }
                                button{
                                    display: none;
                                }
                            }
                        }
                    // }
                }
                .product-hr{
                    max-width: 780px;
                    height: 2px;
                    color: @productBorder;
                    margin-top: 0;
                }
            }
        }
        .promo-wrapper{
            // display:none;
            height: 100%;
            position: sticky;
            top: 80px;
            width: 30%;
            margin-left: 30px;
            // margin-top: -50px;
        .boxShadow1{
            width: 100%;
            .promo{
                max-width: 340px;
                .promo-code-wrapper{
                    padding: 6px 23px 0px 23px;

                
                .promo-code{
                    width: 100%;
                    border-bottom: 1px solid @productBorder;
                    padding: 10px 0;
                    .text-sm{
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                    .apply{
                        display: flex;
                        flex-direction: row;
                        .apply-input{
                            width: 66%;
                            margin-right: 10px;
                            .form-group{
                                input{
                                    margin-right: 10px;
                                }
                            }
                        }
                        .button-wrapper{
                            width: 34%;
                            .main-btn{
                                width: 100%;
                            }
                        }
                    }
                    .text-xs{
                        color: @light-dark;
                    }
                    .items-total{
                        .item{
                            display: flex;
                            justify-content: space-between;
                            padding: 13px 0;
                            color: @light-dark;
                            .discount{
                                color: @hover;
                            }
                            .font-big{
                                font-weight: bold;
                                color: @main-dark;
                            }
                        }
                    }
                }
                .borderNone{
                    border-bottom: none;
                }
            }
                .user-bonus{
                    height: 50px;
                    display: flex;
                    align-items: center;
                    padding-left: 23px;
                    padding-right: 23px;
                    img{
                        margin-right: -30px;
                    }
                }
                
               
                }
        }
        .checkout{
            width: 100%;
            .checkout-btn{
                margin-top: 20px;
                .main-btn{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .text-xs{
                        font-weight: 400;
                    }
                }
                
            
                }
            }
           
            .text-wrapper{
                .text-xs{
                    text-align: center;
                    color: @light-dark;
                    padding: 10px;
                }
            }
        }
        .promo-wrapper--mt{
            margin-top: 30px;
        }
        .paypal-wrapper{
            width: 100%;
            .paypal-title{
                .text-sm{
                    color: @light-dark;
                    text-align: center;
                    margin-top: 30px;
                    margin-bottom: 12px;
                }
            }
        }

        .address-form{
            .delivery-methods{
                .methods-row{
                    display: flex;
                    .card-width{
                        width: 50%;
                        .lable--width{
                            padding: 20px;
                        }
                        & + .card-width{
                            margin-left: 25px;
                        }

                    }

                }
                
            }
        }
            .deliver-address{
                .border-none-bottom{
                    border-bottom: none;
                    margin-bottom: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    &:hover{
                        border-color: @productBorder;
                        background-color: @white;
                        border-bottom: none;
                    }
                }
            }
                .label-container{
                    padding-top: 7px;
                    padding-bottom: 7px;
                    .decription-row{
                        display: flex;
                        justify-content: space-between;
                        margin-left: 10px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        width: 100%;
                        .label-description{
                            max-width: 350px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .text-sm--main{
                                color: @mainBtn;
                                font-weight: bold;
                                text-align: right;
                                margin-bottom: 0;
                            }
                            .text-sm--free{
                                color: @hover;
                            }
                            .edit-remove{
                                z-index: 5;
                                .edit{
                                    color: @light-dark;
                                    border-right: 1px solid @light-dark;
                                    font-weight: 200;
                                    margin-right: 5px;
                                    padding-right: 2px;
                                }
                                .remove{
                                    color: @light-dark;
                                    font-weight: 200;
                                }
                            }
                            .font-big{
                                margin-bottom: 0;
                            }
                        }
                        
                        .font-big{
                            margin-bottom: 0px;
                        }
                        .payment-name{
                            margin-right: auto;

                        }
                    }
                    .decription-row--center{
                        align-items: center;
                    }
            
                }
                
                .label-container-wrapper{
                    background-color: @white;
                    border: 1px solid @productBorder;
                    border-top: none;
                    border-bottom-right-radius: 6px;
                    border-bottom-left-radius: 6px;

                }
                .border-none{
                    border: none;
                    margin-bottom: 0;
                }
                .new-address{
                        padding: 0px 20px 25px 20px;
                        .border-top{
                            padding-top: 35px;
                            border-top: 1px solid @productBorder;
                        }
                        .required-fields{
                            margin-top: 10px;
                            .text-sm{
                                font-weight: bold;
                                margin-bottom: 20px;
                            }
                        }
                        .address-section{
                            .form-position{
                                position: relative;
                                .form-control-label{
                                    position: absolute;
                                    top: 12px;
                                    left: 20px;
                                    font-weight: 400;
                                    color: @light-dark;
                                    
                                }
                                input{                                    
                                    height: 60px;
                                    padding-top: 30px;
                                    &::placeholder{
                                        color: @main-dark;
                                    }
                                }
                                
                            }
                        }
                        .three-input-wrapper{
                            display:flex;
                            justify-content: space-between;
                            .form-width{
                                width: 32%;
                            }
                        }
                        .btn-wrapper{
                            display: flex;
                            .cansel-wrapper{
                                width: 200px;
                                & + .continue-wrapper{
                                    margin-left:20px ;
                                }
                            }
                        }
                    }
                

            // }
            .continue-wrapper{
                width: 200px;
            }
            .mt{
                margin-top: 15px;
            }
        // }
    // }


            .cardWrap{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .visa{
                    background-image: url(../img/visa.svg);

                }
                .master{
                    background-image: url(../img/master.svg);

                }
                .amex{
                    background-image: url(../img/amex.svg);

                }
                .arca{
                    background-image: url(../img/arca.svg);

                }
                .pay_pal{
                    background-image: url(../img/paypal.svg);

                }
                .yandex_many{
                    background-image: url(../img/yandexmany.svg);
               
                }
                .payfast{
                    background-image: url(../img/payfast.svg);
                  
                }
                .paystack{
                    background-image: url(../img/paystack.svg);
                    
                }
                .idram{
                    background-image: url(../img/idram.svg);
                }
                .cash{
                    background-image: url(../img/cash.svg);
                }
                .banktransfer{
                    background-image: url(../img/bank-transfer.svg);
                }
                .labels{
                    background-size: contain;
                    background-color: #fff;
                    background-position: center;
                    height: 30px;
                    width: 47px;
                    background-repeat: no-repeat;
                    border-radius: 6px;
                    margin-right: 7px;
                    margin-top: 7px;
                }
                .label-size{
                    width: 70px;
                    height: 40px;
                    margin-top: 0;
                }
        
            }
        
    
          
// End shoppingCart styling

// Start empty basket, success styling

.page-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    // margin-bottom: 172px;

    .text-lg{
        color: @mainBtn;
    }
    .text-error{
        color: @error;
    }
    .font-md{
        color: @light-dark;
        margin-left: 5px;
    }
    .text-md{
        color: @light-dark;
    }
    .text-md--width{
        width: 29%;
        text-align: center;
    }
    .success-md{
        width: 52%;
        margin-bottom: 25px;
    }
    .cart-img{
        img{
            max-width: 100%;
            max-height: auto;
            object-fit: contain;
        }
    }
    .cart-img--padding{
        padding-top: 30px;
    }
    .continue-btn{
        margin-top: 60px;
        width: 225px;

    }
    .continue-btn--mt{
        margin-top: 30px;
    }
    .icon-wrapper{
        position: relative;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        border: 4px solid @main;
        margin-bottom: 15px;
        &::before {
            content: "";
            position: absolute;
            top: 12px;
            left: 13px;
            width: 30px;
            height: 19px;
            border: 3px solid @main;
            border-radius: 1px;
            border-width: 0 0 4px 4px;
            transform: rotate(-45deg);
        }
    }
    .icon-error{
        position: relative;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        border: 3px solid @error;
        margin-bottom: 15px;

        &::before {
            position: absolute;
            top: -21px;
            bottom: 0;
            left: 0;
            right: 0;
            content: "\d7"; 
            font-size: 60px; 
            color: @error;
            line-height: 100px;
            text-align: center;
        }
    }
}
.container-wrapper{
    max-width: 730px;
    height: 450px;
    .page-wrapper--width{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background-color: @white;
        .text-md--width{
            width: 48%;

        }
    }
}
// End empty basket, success styling

// Start success page styling
.details-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    .details-wrapper-width{
        width: 65%;
        display: flex;
        .details{
            width: 100%;
            .font-big{
                color: @light-dark;
                margin-bottom: 26px;
            }
            .details-row{
                margin-bottom: 30px;
                display: flex;
                span{
                    width: 50%;
                }
            }
        }
        .promo-wrapper{
            width: 91%;
            margin-top: 60px;
            .promo{
                padding-top: 0;
                padding-bottom: 0;
            }
        }
       
    }
}
.success-continue{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .main-btn{
        min-width: 224px;
    }
}
// End success page styling




.address-span{
    .span-content{
        .text-sm{
            color: @light-dark;
            font-weight: 400;
            margin-top: 10px;
            margin-bottom: 0;

            & + .left-border{
                border-left: 2px solid #E1E3EE;
                margin-left: 8px;
                padding-left: 10px;
            }
        }
        .text-sm--color{
            color: @orange;
        }
    }                         
}

// Start Shipping details styling
.shipping-details{
    .label-container--border{
        .checkmark::after{
            top: 1.7px;
            left: 1.2px;
        }
    }
}
.form-wrapper{
    width: 68%;
}
.shipping-address{
    // width: 68%;
    margin-top: -10px;
    margin-bottom: 10px;
    .text-xs{
        font-weight: bold;
    }
    .address-span{
        .change-address{
            display: flex;
            justify-content: space-between;
            .text-sm--color{
                color: @mainBtn;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}

// End Shipping details styling

// Start payment-method styling
.payment-method{
    .label-container--border{
        .checkmark::after{
            top: 2.3px;
            left: 1.2px;
        }
    }
}
.select-card{
    background-color: @white;
    border: 1px solid @productBorder;
    border-radius: 6px;
    margin-bottom: 15px;
    .font-big-wrapper{
        margin: 25px 20px 0px;
        border-bottom: 1px solid @productBorder;
        .font-big{
            font-weight: bold;
            padding-bottom: 16px;
            margin-bottom: 0px;  
        }
    }
    .text-md{
        margin-bottom: 0;
    }
 .label-container{
    border: none;
    &:hover{
   border: none;
    }
    .checkmark:after {
        top: 2px;
        left: 1.5px;
    }
 }
}
// End payment-method styling 

.mega-wrapper {
    transition: 0.5s;
    &.open {
        // margin-right: 350px;
        transform: translateX(-350px);
    }
}