@import url('../colors/color.less');
// Start main-btn styling
.main-btn {
    background-color:@mainBtn;
    border: 1px solid @main;
    font-size: 16px;
    font-weight: bold;
    color: @white;
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 5px 12px 5px;
       &:focus{
        outline: none;
        color: @white;
            }
        &:hover{
            background-color: @hover;
            color: @white;
            transition: background 0.5s linear;
            border-color: @hover;
            text-decoration: none;
        }
}
// Start cancel-btn styling
.cancel-btn{
    background-color: @selected;
    color: @light-dark;
    border: none;
    text-decoration: none;
}
// End cancel-btn styling

.h40 {
    padding: 9px 0;
}

.item-price{    
    padding-top: 5px;
    padding-bottom: 5px;
}
// End main-btn styling

// Start free shipping buttons styling
.free-shipping-wrapper{
    max-width: 120px;
    .text-sm{
        background-color: @hover;
        color: @white;
        font-weight: bold;
        border-radius: 30px;
        padding: 5px 13px;
        border: none;
        font-size: 14px;
    }
}
// End free shipping buttons styling


// Start sign-in styling
.sign-in{
    .main-btn{
        background-color: @white;
        color: @mainBtn;
        width: 92px;
        text-decoration: none;
        &:hover{
            background-color: @main;
            border-color: @main;
            color: @white;
            transition: background 0.5s linear
        }
    }
}
// End sign-in styling



// Start disabled styling
.disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: @stepBorder;
    border-color: @stepBorder;
    pointer-events: all !important;
    &:hover{
        background-color: @stepBorder;
        border-color: @stepBorder;
    }
  }
//End disabled styling
