:root {
  --mainColor: #5846B9;
  --white: #FFFFFF;
  --secondaryLight: #F4F6F7;
  --secondaryDarck: #6D737A;
  --black: #262626;
  --mainHover: #3F366F;
}
/* Main button */
.btn {
  height: 50px;
  min-width: 50px;
  width: 100%;
  border-radius: 25px;
  padding: 0 25px;
  background-color: var(--mainColor);
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
  /* line-height: 50px; փակել եմ, որպեսի checkout-ի երկու տողանոց button-ը չխախտվի */
  text-align: center;
  border: none;
  /* outline: none; */
  cursor: pointer;
  transition: background 0.5s linear;
}
.btn:hover {
  background-color: var(--mainHover);
  /* background-color: mix(var(--mainColor), fade(var(--black), 80%)); */
  color: var(--white);
}
.btn:active {
  background-color: var(--mainColor);
  color: var(--white);
}
.btn:disabled {
  background-color: var(--secondaryLight);
  color: var(--secondaryDarck);
  /* cursor: not-allowed; */
}
.btn:focus {
  outline: none !important;
  color: var(--black);
}
/*Secondary button  */
.btn-secondary {
  background-color: var(--secondaryLight);
  color: var(--black);
}
