.main-btn {
  background-color: #4F49F5;
  border: 1px solid #4F49F5;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 6px;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12px 5px 12px 5px;
}
.main-btn:focus {
  outline: none;
  color: #FFFFFF;
}
.main-btn:hover {
  background-color: #36c756;
  color: #FFFFFF;
  transition: background 0.5s linear;
  border-color: #36c756;
  text-decoration: none;
}
.cancel-btn {
  background-color: #F9FBFF;
  color: #77808D;
  border: none;
  text-decoration: none;
}
.h40 {
  padding: 9px 0;
}
.item-price {
  padding-top: 5px;
  padding-bottom: 5px;
}
.free-shipping-wrapper {
  max-width: 120px;
}
.free-shipping-wrapper .text-sm {
  background-color: #36c756;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 30px;
  padding: 5px 13px;
  border: none;
  font-size: 14px;
}
.sign-in .main-btn {
  background-color: #FFFFFF;
  color: #4F49F5;
  width: 92px;
  text-decoration: none;
}
.sign-in .main-btn:hover {
  background-color: #4F49F5;
  border-color: #4F49F5;
  color: #FFFFFF;
  transition: background 0.5s linear;
}
.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #E1E3EE;
  border-color: #E1E3EE;
  pointer-events: all !important;
}
.disabled:hover {
  background-color: #E1E3EE;
  border-color: #E1E3EE;
}
