@import url('../colors/color.less');
// Start main-btn styling
.main-btn {
    background-color:@mainBtn;
    border: 1px solid @btnBorder;
    font-size: 16px;
    font-weight: bold;
    color: @white;
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 5px 12px 5px;
       &:focus{
        outline: none;
        color: @white;
            }
        &:hover{
            background-color: @hover;
            color: @white;
            transition: background 0.5s linear;
            border-color: @hover;
        }
}

.h40 {
    padding: 9px 0;
}
// End main-btn styling

// Start sign-in styling
.sign-in{
    .main-btn{
        background-color: @white;
        color: @mainBtn;
        width: 92px;
        text-decoration: none;
        &:hover{
            background-color: @btnBorder;
            border-color: @btnBorder;
            color: @white;
            transition: background 0.5s linear
        }
    }
}
// End sign-in styling



// Start disabled styling
.disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: @stepBorder;
    border-color: @stepBorder;
    pointer-events: all !important;
    &:hover{
        background-color: @stepBorder;
        border-color: @stepBorder;
    }
  }
//End disabled styling
