.error {
  border: 1px solid #E04949;
  border-radius: 6px;
}
.error:hover {
  border: 1px solid #E04949;
  border-radius: 6px;
}
.errorMessage {
  color: #E04949;
  padding: 3px 5px;
  font-size: 12px;
  margin-top: -14px;
  margin-bottom: 10px;
}
.checkbox-style {
  min-width: 20px! important;
  max-width: 20px! important;
  height: 20px! important;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
}
.checkbox-style input[type=checkbox] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.checkbox-style input[type=checkbox]:checked + label {
  border: none;
  background-color: #4F49F5;
}
.checkbox-style input[type=checkbox]:checked + label::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 4px;
  width: 12px;
  height: 6px;
  border: 1px solid #FFFFFF;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
}
.checkbox-style label {
  content: "";
  display: block !important;
  width: 100%;
  height: 100%;
  border: 1px solid #D3D9F0;
  border-radius: 4px;
}
input {
  width: 100%;
  padding: 12px 20px ;
  cursor: pointer;
  border: 1px solid #D4D9EE;
  border-radius: 6px;
  text-overflow: ellipsis;
}
input:focus {
  outline: none;
  background-color: #F9FBFF;
  border: 1px solid #4F49F5;
}
input:hover {
  background-color: #F9FBFF;
  border: 1px solid #4F49F5;
}
.error input {
  border: none;
}
.select-wrapper {
  position: relative;
}
.select-wrapper .select-arrow {
  position: absolute;
  top: 16px;
  right: 17px;
}
select {
  width: 100%;
  height: 50px;
  border: 1px solid #D4D9EE;
  border-radius: 6px;
  padding: 14px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  z-index: 5;
  background-color: transparent;
}
select:focus {
  outline: none;
}
select:hover {
  background-color: #f9fbff;
  border: 1px solid #4F49F5;
}
.error select {
  border: none;
}
.label-container {
  border-radius: 6px;
  border: 2px solid #D4D9EE;
  background-color: #FFFFFF;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.label-container .text--mrl {
  margin-left: 10px;
}
.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin: 0;
  left: 0;
  height: 100%;
  top: 0;
}
.label-container:hover {
  border: 1px solid #4F49F5;
  background-color: #F9FBFF;
}
.border2px:hover {
  border: 2px solid #4F49F5;
}
.label-container--border {
  border: 1px solid #D4D9EE;
}
.label-selected {
  background-color: #F9FBFF;
  border-color: #4F49F5;
}
.checkmark {
  height: 23px;
  width: 23px;
  border: 1px solid #E1E3EE;
  border-radius: 50%;
  min-width: 23px;
  position: relative;
}
.label-container input:checked ~ .checkmark {
  background-color: #FFFFFF;
  border: 1px solid #4F49F5;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.label-container input:checked ~ .checkmark:after {
  display: block;
}
.label-container .checkmark:after {
  top: 3px;
  left: 3px;
  width: 15px;
  height: 15px;
  border-radius: 80%;
  background: #4F49F5;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
